<div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @question do |f|  %>
          <%= f.hidden_field :paid_inbox_id, value: @dm.paid_inbox.id %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.hidden_field :price_cents, value: @dm.paid_inbox.price_cents %>
          <%= f.hidden_field :platform_fee_cents, value: @dm.paid_inbox.platform_cut_price.fractional %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Question to <%= @dm.full_name %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.input :question, as: :text, class: 'form-control', label: false, hint: '255 characters maximum.' %>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Payment Info</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div id="stripe-elements-container">
                    <% if @user.customer_token && @user.fetch_stripe_customer.default_source  %>
                        <%= render 'partials/stripe_elements_edit', form_id: 'new_question' %>
                    <% else %>
                        <%= render 'partials/stripe_elements_new', form_id: 'new_question' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <%= f.submit 'Create Question', class: 'btn btn-success' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
      <% end %>
    </div>
  </div>
  <script>
    $('#question-modal').on('hide.bs.modal', function(e){
      setTimeout(function() {
        $('#question-modal').remove();
      }, 500);
    });
  </script>
</div>