<div class="text-center col-md-8 col-md-offset-2">

  <h1>Send invitation to join MeetingSlice</h1>

  <hr/>

  <%= simple_form_for @invite, html: {class: 'form-horizontal', multipart: true}, wrapper: :horizontal_form,
                      wrapper_mappings: { file: :horizontal_file_input} do |f| %>

      <%= f.error_notification %>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
          <div class="fileUpload btn btn-primary">
            <span>Choose File</span>
            <%= f.input_field :attachment, id: 'uploadBtn', class: 'upload', as: :file, label: false%>
          </div>
          <span><%= f.error :attachment %></span>
        </div>
      </div>


      <%= f.hidden_field :first_name, value: 'file' %>
      <%= f.hidden_field :last_name, value: 'file' %>
      <%= f.hidden_field :company_name, value: 'file' %>

        <%= f.submit 'Upload File', class: 'btn btn-primary' %>


  <% end %>

  <hr/>
  <h3 class="text-center">OR</h3>
  <hr/>
  <%= simple_form_for @invite, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                      wrapper_mappings: { file: :horizontal_file_input} do |f| %>

        <div class="col-sm-12">
          <%= f.input :first_name, class: 'form-control', placeholder: 'First Name', label: '*First Name' %>
        </div>

        <div class="col-sm-12">
          <%= f.input :last_name, class: 'form-control', placeholder: 'Last Name', label: '*Last Name' %>
        </div>

        <div class="col-sm-12">
          <%= f.input :company_name, class: 'form-control', placeholder: 'Company Name', label: '*Company Name' %>
        </div>


        <div class="col-sm-12">
          <%= f.input :title, class: 'form-control', placeholder: 'Job Title' %>
        </div>


        <div class="col-sm-12">
          <%= f.input :email, class: 'form-control', placeholder: 'Email Address' %>
        </div>


      <%= f.submit 'Send Invite', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

  <% end %>

</div>

<script>
  document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
  };
</script>
