<div class="text-center">

  <div class="row">
    <div class="promo">
      <div class="jumbotron">

        <div class="col-md-8">
          <!--<div class="row">-->
            <!--<div class="col-md-5 col-md-offset-1">-->
              <!--<%= image_tag 'http://via.placeholder.com/400x450', class: 'img img-responsive' %>-->
            <!--</div>-->
            <!--<div class="col-md-5">-->
              <!--<%= image_tag 'http://via.placeholder.com/400x450', class: 'img img-responsive' %>-->
            <!--</div>-->
          <!--</div>-->

          <div class="row">
            <div class="col-md-12 jumbotron-padding">
              <h1>
                <strong>The b2b Meeting Marketplace</strong>
              </h1>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <p>
                <strong>
                  Which meetings should you take when all companies promise the same “amazing” results?
                </strong>
              </p>
              <p>
                <strong>
                  Raise the stakes and create a filter.
                </strong>
              </p>
              <p>
                <strong>
                  Companies with the best ideas will pay top dollar for your immediate attention.
                </strong>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
          <div class="well signup-well">

            <h2>
              <strong>Registration</strong>
            </h2>
            <span class="text-center">
              <%= link_to image_tag('linkedin-login.png', class: 'img'),
                          user_linkedin_omniauth_authorize_path %>
            </span>
            <h4>OR</h4>
            <hr/>
            <div class="col-xs-10 col-xs-offset-1">
              <%= simple_form_for @user, url: user_registration_path, html: {class: 'form-horizontal'},
                                  wrapper: :horizontal_form do |f| %>

                  <%= f.hidden_field :role, value: 'dm' %>

                  <div class="form-group form-group-sm">
                    <%= f.input_field :email, class: 'form-control', label: false, placeholder: 'Email' %>
                  </div>
                  <div class="form-group form-group-sm">
                    <%= f.input_field :first_name, class: 'form-control', label: false, placeholder: 'First Name' %>
                  </div>
                  <div class="form-group form-group-sm">
                    <%= f.input_field :last_name, class: 'form-control', label: false, placeholder: 'Last Name' %>
                  </div>
                  <div class="form-group form-group-sm">
                    <%= f.input_field :title, class: 'form-control', label: false, placeholder: 'Job Title' %>
                  </div>
                  <div class="form-group form-group-sm">
                    <%= f.input_field :company_name, class: 'form-control', label: false, placeholder: 'Company' %>
                  </div>
                  <div class="form-group form-group-sm">
                    <%= f.input_field :password, class: 'form-control', label: false, placeholder: 'Password' %>
                  </div>


                  <%= f.submit 'Register Now', class: 'btn btn-primary center-block' %>

              <% end %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--promo-->


  <div class="row seen-in-row">
    <h4>Companies that use MeetingSlice</h4>

    <%= image_tag 'splash_page/allied-logo.png' %>
    <%= image_tag 'splash_page/companycam-logo.png' %>

  </div>



  <div id="row-container-1" class="row-container">
    <h1><strong>What's Your Role?</strong></h1>
    <div class="row">
      <div class="col-md-4 text-left">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center"><strong>Decision Maker</strong></h2>
          </div>
          <div class="panel-body">
            <div class="text-container">
              <h3><strong>Filter The Noise</strong></h3>
              <p class="large-text">
                Hear only the best ideas to impact your organization.
              </p>
            </div>

            <div class="box">
              <h3><strong>One place for all Solicitors</strong></h3>
              <p class="large-text">
                It's easy.  Send all meeting requests to us.  Sales Reps will pay if they have done their homework.
              </p>
            </div>

            <div class="box">
              <h3><strong>Get paid for your time</strong></h3>
              <p class="large-text">
                Your company is now paid when you meet with Sales Reps.
              </p>
            </div>
          </div>
        </div>





      </div>

      <div class="col-md-4 text-left">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center"><strong>Sales Representative</strong></h2>
          </div>
          <div class="panel-body">
            <div class="text-container">
              <h3><strong>Stop Cold Calling</strong></h3>
              <p class="large-text">
                Get to the right person, immediately.  More Meetings, more money.
              </p>
            </div>

            <div class="box">
              <h3><strong>Quality and Predictable Attention</strong></h3>
              <p class="large-text">
                You paid for it.  Get a guaranteed meeting start time and the expected amount of time.
              </p>
            </div>

            <div class="box">
              <h3><strong>Money Signals Seriousness</strong></h3>
              <p class="large-text">
                You've done your homework.  Separate yourself from the pack.
              </p>
            </div>
          </div>
        </div>





      </div>

      <div class="col-md-4 text-left">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center"><strong>Sales Management</strong></h2>
          </div>
          <div class="panel-body">
            <div class="text-container">
              <h3><strong>Grow Faster</strong></h3>
              <p class="large-text">
                Have your best sales rep in the company meet with 3x more decision makers.
              </p>
            </div>

            <div class="box">
              <h3><strong>Lower your Meeting Acquisition Cost</strong></h3>
              <p class="large-text">
                Why pay sales people to cold call and email prospects when you can buy a meeting with the prospect at a lower cost?
              </p>

            </div>

            <div class="box">
              <h3><strong>Cut Overhead</strong></h3>
              <p class="large-text">
                With access to all decision makers you can cut down on your marketing and sales management costs.
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--container-1-->

  <div class="row padding-top">
    <div class="col-md-6 col-md-offset-3">
      <%= button_to 'Register Now', new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>




</div>

<script>
  $('.box').matchHeight({byRow: false});
</script>




