<div class="text-center">

  <div class="promo">
    <div class="jumbotron">

      <h1>Finally, B2B Meetings have a price.</h1>
      <div class="row">
        <div class="col-md-2 col-md-offset-2 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-responsive dm-image') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4>
          <h4><strong>Price/Hr: <%= link_to('Register', signup_path, class: 'btn btn-default btn-sm text-bold') %></strong></h4>
        </div>
        <div class="col-md-2 col-md-offset-1 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-responsive dm-image') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4>
          <h4><strong>Price/Hr: <%= link_to('Register', signup_path, class: 'btn btn-default btn-sm text-bold') %></strong></h4>
        </div>
        <div class="col-md-2 col-md-offset-1 well dm-highlight"><%= image_tag('Darth-Vader_6bda9114.jpg', class: 'img-responsive dm-image') %>
          <h4><strong>Darth Vader</strong></h4>
          <h4><strong>Sith Lord</strong></h4>
          <h4><strong>The Empire</strong></h4>
          <h4><strong>Price/Hr: <%= link_to('Register', signup_path, class: 'btn btn-default btn-sm text-bold') %></strong></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Register Now', signup_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <!--promo-->


  <div class="row-container">
    <div class="row step-container">
      <h1 class="steps-heading"><strong>How It Works</strong></h1>
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag('search.png', class: 'step-image') %>
        <h3> <strong>Step 1:</strong></h3>
        <p>Search for Decision Makers</p>
      </div>
      <div class="col-md-2">
        <%= image_tag('book_now.png', class: 'step-image') %>
        <h3> <strong>Step 2:</strong></h3>
        <p>Purchase an hour-long meeting</p>
      </div>
      <div class="col-md-2">
        <%= image_tag('dollar-sign.png', class: 'step-image') %>
        <h3><span class="glyphicon glyphicon-arrow-right"></span></h3>
        <p>Money is paid to the Decision Maker's Organization</p>
      </div>
      <div class="col-md-2">
        <%= image_tag('meet.png', class: 'step-image') %>
        <h3> <strong>Step 3:</strong></h3>
        <p>Introduce your product/service to a fully attentive audience</p>
      </div>
      <div class="col-md-2">
        <%= image_tag('rate.png', class: 'step-image') %>
        <h3> <strong>Step 4:</strong></h3>
        <p>Rate the quality of the meeting</p>
      </div>
    </div>
    <!--step-container-->
  </div>


  <div id="row-container-2" class="row-container">
    <div class="row">
      <div class="col-md-6 section-picture"></div>
      <div class="col-md-6 row-content">
        <div class="floating-text">
          <h1><strong>Stop Cold Calling. Start Meeting</strong></h1>
          <ul class="list-unstyled">
            <li>Sell more, Faster</li>
            <li>Higher Quality Attention</li>
            <li>Predictable Meetings</li>
            <li>Get to the right person</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div id="row-container-1" class="row-container">
    <div class="row">
      <div class="col-md-6 row-content">
        <div class="floating-text">
          <h1><strong>It’s the signal.</strong></h1>
          <p>
           Businesses know the best salespeople are so confident in their product's performance that they are willing to pay
            to get in front of the correct Decision Maker RIGHT NOW!
          </p>
        </div>
      </div>
      <div class="col-md-6 section-picture"></div>
    </div>
  </div>
  <!--container-1-->
  <div class="row padding-top">
    <div class="col-md-12">
      <%= link_to 'Register Now', signup_path, class: 'btn btn-primary' %>
    </div>
  </div>




</div>




