<h1>Confirmation</h1>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h4>Decision Maker: <%= @meeting.dm.full_name %></h4>
      <h4>Time: <%= @meeting.desired_block.display_day %> between <%= @meeting.desired_block.show_start_time %> and <%= @meeting.desired_block.show_end_time %></h4>
      <h4>Meeting Confirmation #: <%= @meeting.confirmation_number %></h4>
    </div>
  </div>
</div>

<div class="row">
  <h3>
    <ul>
      <li>You will receive an email shortly with the exact date and times the Decision Maker can meet.</li>
      <li>After you select the specific date and time, your credit card will be charged.</li>
    </ul>
  </h3>

</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <%= link_to 'Search for more meetings', schedule_time_path(anchor: 'sales_person_tab'), class: 'btn btn-primary' %>
  </div>

  <div class="col-md-5">
    <%= link_to 'Go to My Dashboard', dashboard_path, class: 'btn btn-primary' %>
  </div>

</div>