<h1>Confirm <%= @meeting.meeting_type == 'quick_pitch' ? 'Call' : 'Meeting Request' %></h1>

<h3>
  <%= @meeting.meeting_type == 'quick_pitch' ? '5 minutes' : '30 minutes' %> with <%= @decision_maker.full_name %> <br>
</h3>




<hr/>

<%= simple_form_for @meeting do |f| %>

    <%= f.error_notification %>

    <%= f.hidden_field :dm_id, value: @decision_maker.id %>
    <%= f.hidden_field :sp_id, value: current_user.id %>
    <%= f.hidden_field :price_cents, value: @price[:price].fractional %>
    <%= f.hidden_field :platform_fee_cents, value: @price[:platform_cut_price].fractional %>
    <%= f.hidden_field :meeting_type, value: @meeting.meeting_type %>


    <h5>*What is the product you are pitching in this meeting?</h5>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :topic, label: false, placeholder: 'This will be seen by the Decision Maker prior to approval.' %>
      </div>
    </div>

    <h5>Additional comments about meeting time or your availability</h5>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :sp_requested_comments, label: false, placeholder: 'Add any additional information/requests here.' %>
      </div>
    </div>

    <div class="well col-sm-6">
      <p>
        Once payment information is received, the Decision Maker will confirm calendar availability.
      </p>
      <p>
        You will receive an email from MeetingSlice with the exact dates and times the Decision Maker is available for you to choose from.
      </p>

      <p>
        Your credit card <strong>will not</strong> be charged until a specific date and time has been agreed upon by both parties.
      </p>

      <article>
        <label class="amount">
          <span>Paid to Decision Maker's Organization: <%= humanized_money_with_symbol(@price[:price]) %></span> <br>
          <span>Platform Fee: <%= number_to_percentage User::PLATFORM_FEE * 100, strip_insignificant_zeros: true %></span>
        </label>
      </article>


      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Credit Card Info"
              data-amount="<%= @price[:total_price].fractional %>"
              data-locale="auto"
              data-label="Submit Payment Information"
              data-panel-label="Use this Card"
              data-zip-code="true">

      </script>
      <div class="row">
        <div class="col-sm-offset-1">
          <!--<p>-->
            <!--<span class="small">For beta, use Credit Card #: 4242 4242 4242 4242</span>-->
          <!--</p>-->
          <!-- Button trigger modal -->
          <a type="button" class="clickable" data-toggle="modal" data-target="#myModal">Review Terms of Service</a>
        </div>

      </div>

    </div>

<% end %>

<%= render 'partials/terms_of_service_modal' %>

