<%= render 'partials/terms_of_service' %>
<h1>Confirm Meeting Request</h1>

<h3>
  1 Hour between <%= @desired_block.show_start_time + ' and ' + @desired_block.show_end_time + ' on ' + @desired_block.display_day %> <br>
  With: <%= @desired_block.user.full_name %> <br>
</h3>




<hr/>

<%= simple_form_for @meeting do |f| %>

    <%= f.error_notification %>

    <%= f.hidden_field :desire_block_id, value: @desired_block.id %>
    <%= f.hidden_field :dm_id, value: @desired_block.user.id %>
    <%= f.hidden_field :sp_id, value: current_user.id %>
    <%= f.hidden_field :price_cents, value: @desired_block.user.price_cents %>
    <%= f.hidden_field :platform_fee_cents, value: @desired_block.user.platform_cut_price.fractional %>
    <%= f.hidden_field :desired_day, value: @desired_block.day %>
    <%= f.hidden_field :desired_start_time, value: @desired_block.start_time %>
    <%= f.hidden_field :desired_end_time, value: @desired_block.end_time %>

    <h5>Additional comments about meeting time or your availability</h5>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :sp_requested_comments, label: false, placeholder: 'Add any additional information/requests here.' %>
      </div>
    </div>

    <div class="well col-sm-6">
      <p>
        Once payment information is received, the decision maker will confirm calendar availability.
      </p>
      <p>
        You will receive an email from MeetingSlice with the exact dates and times the Decision Maker is available for you to choose from.
      </p>

      <p>
        Your credit card <strong>will not</strong> be charged until a specific date and time has been agreed upon by both parties.
      </p>

      <article>
        <label class="amount">
          <span>Paid to Decision Maker's Organization: <%= humanized_money_with_symbol(@desired_block.user.price) %></span> <br>
          <span>Platform Fee: 16.21%</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Credit Card Info"
              data-amount="<%= @desired_block.user.total_price.fractional %>"
              data-locale="auto"
              data-label="Submit Payment Information"
              data-panel-label="Use this Card"
              data-zip-code="true">

      </script>
      <div class="row">
        <div class="col-sm-offset-1">
          <p>
            <span class="small">For beta, use Credit Card #: 4242 4242 4242 4242</span>
          </p>
          <!-- Button trigger modal -->
          <a type="button" class="clickable" data-toggle="modal" data-target="#myModal">
            Review Terms of Service
          </a>
        </div>

      </div>

    </div>

<% end %>
