<div class="col-md-8 col-md-offset-2">
  <h1>Edit Information</h1>

  <%= simple_form_for current_user, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                      wrapper_mappings: {radio_buttons: :horizontal_radio_and_checkboxes} do |f| %>

      <%= f.error_notification %>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#dm_sp_info">Evaluation/Sales Info</a></li>
        <li role="presentation"><a data-toggle="tab" href="#general">General</a></li>
        <li role="presentation"><a data-toggle="tab" href="#ar_info">Accounts Receivable</a></li>
        <li role="presentation"><a data-toggle="tab" href="#account_info">Email/Password</a></li>
      </ul>


      <div class="tab-content">

        <div id="dm_sp_info" class="tab-pane fade in active">
          <div class="col-md-offset-2">
            <%- if current_user.role == 'dm' || current_user.role == 'both' %>
                <%= render partial: 'users/partials/dm_info_form', locals: {f: f} %>
            <% end %>

            <%- if current_user.role == 'sp' || current_user.role == 'both' %>
                <%= render partial: 'users/partials/sp_info_form', locals: {f: f}  %>
            <% end %>
          </div>

          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>

        <div id="general" class="tab-pane fade">
          <%= render 'users/partials/role_select', f: f %>
          <%= render partial: 'users/partials/general_form', locals: {f: f} %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>

        <div id="ar_info" class="tab-pane fade">
          <hr/>
          <%= render partial: 'users/partials/ar_form', locals: {f: f} %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>

  <% end %>

        <div id="account_info" class="tab-pane fade">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>

                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                <%= f.input :password_confirmation, required: false %>
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Update" %>
              </div>
          <% end %>

        </div>


      </div>





</div>