<div class="row text-center">
  <h1>Account Setup</h1>
</div>

<div id="role-select-container">
  <p class="lead text-center">
    Choose your role
  </p>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-3">
      <button class="btn btn-primary btn-block role-button" id="dm-select">Decision Maker</button>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
      <button class="btn btn-primary btn-block role-button" id="sp-select">Sales Rep.</button>
    </div>
  </div>
</div>

<div id="sp-form-container" class="hidden">
  <%= simple_form_for @user do |f| %>

      <%= f.hidden_field :role, value: 'sp' %>

      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <%= render partial: 'users/partials/sp_info_form', locals: {f: f}  %>

        <%= f.submit 'Finish Setup', class: 'btn btn-primary' %>
      </div>

  <% end %>
</div>

<div id="dm-form-container" class="hidden">
  <%= simple_form_for @user do |f| %>
      <%= f.hidden_field :role, value: 'dm' %>
      <div id="section-1" class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <p class="lead">
          Let vendors know what solutions you are looking for.
        </p>

        <div class="form-group">
          <%= render partial: 'users/partials/dm_info_form', locals: {f: f} %>
        </div>




        <button class="btn btn-primary" id="next-1">Next</button>
      </div>

      <div id="section-2" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <p class="lead">
         How much time will you allocate to hearing innovative product pitches?
        </p>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group">
              <%= f.association :meeting_queue do |qf| %>
                  <%= qf.input :meeting_frequency, as: :select, collection: MeetingQueue.meeting_frequencies.keys, include_blank: false, label: false, class: 'form-control' %>
              <% end %>
            </div>
          </div>
        </div>

        <hr/>

        <p class="lead">
          Everyone who can buy your time on MeetingSlice is a b2b company and has
          qualified you as a potential customer.  If a Sales Rep is willing to pay a very high price
          for your attention, it's a signal they have really done their homework and can solve one of your problems.
        </p>

        <p class="lead">At what price are you willing to take every meeting immediately?</p>


          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.input :price, as: :integer, label: false, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>

        <hr>

        <p class="lead">Where would you like your meeting profits to go?</p>

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
              <%= f.input :payment_option, as: :select, collection: User.payment_options.keys,
                          include_blank: false, label: false, class: 'form-control' %>
            </div>
          </div>
        </div>


        <button class="btn btn-primary" id="next-2">Next</button>

      </div>

      <div id="section-3" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">

        <p class="lead">
          You wanna participate in Paid Inbox?
        </p>

        <%= f.simple_fields_for :paid_inbox do |pif| %>

            <%= pif.input :status, as: :boolean, label: 'Yes', checked_value: :active, unchecked_value: :inactive, class: 'form-control' %>

            <div id="paid-inbox-fields">
              <p class="lead">
                How often would you like to receive an email with all Paid Inbox Emails?
              </p>
              <%= pif.input :delivery_frequency,as: :select, collection: PaidInbox.delivery_frequencies.keys,
                            include_blank: false, label: false, class: 'form-control' %>

              <p class="lead">
                How much would you like to charge to answer a 255 character email?
              </p>

              <%= pif.input :price_option, as: :select, collection: PaidInbox.price_options.keys,
                            include_blank: false, label: false, class: 'form-control' %>

            </div>

        <% end %>


        <%= f.submit 'Finish Setup', class: 'btn btn-primary' %>
      </div>


  <% end %>
</div>

<script>
  $('#user_paid_inbox_attributes_status').change(function() {
      //Do stuff
    $('#paid-inbox-fields').toggle();
  });
</script>