<div class="row">
  <div class="col-md-3">
    <h1>My Dashboard</h1>
  </div>

  <%- if @user.multi_role? || @user.role == 'dm' %>
  <div class="col-md-3 col-md-offset-6">
    <%= link_to "Update what you're evaluating", edit_profile_path, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>


<table class="table" style="border-collapse:collapse;">

  <thead>
  <tr><th>&nbsp;</th>
    <th id="status-popover" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="Status Key"
           data-content="<small><strong>Requested:</strong> Both parties have not yet agreed. Waiting for schedule confirmation.  <br/> </br>
        <strong>Scheduled:</strong> Both parties have agreed to meet and accepted calendar invites. <br/> </br>
        <strong>Completed:</strong> Meeting has taken place. <br> <br>
        <strong>Cancelled:</strong>  Meeting has been canceled. <br> <br>
        <strong>Change Pending:</strong> One party has submitted a change request.
        </small>">
      Meeting Status<span class="glyphicon glyphicon-search small"></span>
    </th>
    <th>Your Role</th>
    <th>Meeting With</th>
    <th>Company</th>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>Change/Cancel</th>
  </tr>
  </thead>

  <tbody>

  <%- @meetings.each do |meeting| %>
  <%- meeting.set_display_attributes(@user.id) %>

      <tr data-toggle="collapse" data-target="#meeting<%= meeting.id %>" class="accordion-toggle" role="button">
        <td> <i class="glyphicon glyphicon-chevron-right"></i></td>
        <td class="<%= meeting.row_shade %>"><%= meeting.status.capitalize.gsub(/_/, ' ') %></td>
        <td><%= meeting.role %></td>
        <td><%= meeting.second_party.full_name %></td>
        <td><%= meeting.second_party.company_name %></td>
        <td><%= meeting.show_date %></td>
        <td><%= meeting.show_start_time %></td>
        <td><%= meeting.show_end_time %></td>
        <td><%= link_to 'Change', new_change_request_path(id: meeting.id) unless %w(completed cancelled).include?(meeting.status) %></td>
      </tr>

      <tr>
        <td colspan="12" class="hiddenRow">
          <div class="accordian-body collapse col-md-9" id="meeting<%= meeting.id %>">
            <h3>Meeting Details:</h3>
            <p><strong>Meeting Confirmation #:</strong> <%= meeting.confirmation_number %></p>
            <%- if meeting.status == 'requested' %>
              <p><strong>Requested Time:</strong>
                 <%= meeting.desired_block.display_day + ', between ' + meeting.desired_block.show_start_time + ' and ' + meeting.desired_block.show_end_time %>
              </p>
            <% end %>
            <p><strong class="text-large">Type:</strong> <%= meeting.meeting_type.capitalize %></p>
            <p><strong>Location:</strong> <%= meeting.address || 'No Address Set' %></p>
            <p><strong>Instructions:</strong> <%= meeting.instructions || 'No Instructions' %></p>
            <p><strong>Decision Maker interested in:</strong> <%= meeting.dm.dm_evaluating || 'No Information' %></p>
            <p><strong>Salesperson products/services:</strong> <%= meeting.sp.sp_product_service || 'No Information' %></p>
            <p><strong>Price/Hr:</strong> <%= humanized_money_with_symbol meeting.price%></p>
          </div>
        </td>
      </tr>

  <% end %>

  </tbody>
</table>

<script>
  $('#status-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });
</script>
