<div class="col-md-8 col-md-offset-2">
  <h1>Edit Information</h1>

  <%= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                      wrapper_mappings: {radio_buttons: :horizontal_radio_and_checkboxes} do |f| %>

      <%= f.error_notification %>

      <ul class="nav nav-tabs">
        <% if @user.sp? %>
        <li role="presentation" class="active"><a data-toggle="tab" href="#dm_sp_info">Sales Info</a></li>
        <% end %>
        <li role="presentation" class="<%= @user.sp? ? '' : 'active' %>"><a data-toggle="tab" href="#general">General</a></li>
        <% if @user.dm? %>
            <li role="presentation"><a data-toggle="tab" href="#ar_info">Payment</a></li>
            <li role="presentation"><a data-toggle="tab" href="#paid_inbox">Paid Inbox Settings</a></li>
        <% end %>
      </ul>


      <div class="tab-content">

      <%- if @user.role == 'sp' || @user.role == 'both' %>
          <div id="dm_sp_info" class="tab-pane fade in active">
            <div class="col-md-offset-2">
              <%= render partial: 'users/partials/sp_info_form', locals: {f: f}  %>
            </div>
            <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>
        </div>
      <% end %>

        <div id="general" class="tab-pane fade <%= !@user.sp? ? 'in active' : '' %>">
          <hr/>
          <%= render partial: 'users/partials/general_form', locals: {f: f} %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>


        <div id="ar_info" class="tab-pane fade">
          <% if @user.dm? %>
              <h4 class="page-header">
                Payment Option
              </h4>

              <div class="row">
                <div class="col-xs-8 col-xs-offset-1">
                  <div class="form-group">
                    <%= f.input :payment_option, as: :select, collection: User.payment_options.keys,
                                include_blank: false, label: 'Funds paid to', class: 'form-control' %>
                  </div>
                </div>
              </div>


              <%= render partial: 'users/partials/ar_form', locals: {f: f} %>

          <% end %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>
        </div>

        <% if @user.dm? %>

            <div id="paid_inbox" class="tab-pane text-center fade">

              <span class="pull-right">
                <a type="button" data-toggle="modal" data-target="#paidInboxModal" class="btn-link btn-xs">
                What is this?
              </a>
              </span>

              <%= f.simple_fields_for :paid_inbox do |pif| %>

                  <div class="row margin-top-lg">
                    <p class="lead">
                      Inbox Status:
                    </p>
                    <div class="col-xs-4 col-xs-offset-4">
                      <div class="form-group">
                        <%= pif.input_field :status, as: :select, collection: PaidInbox.statuses.keys,
                                            include_blank: false, label: false, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <p class="lead">
                      How often would you like to receive an email with all Paid Inbox Emails?
                    </p>
                    <div class="col-xs-4 col-xs-offset-4">
                      <div class="form-group">
                        <%= pif.input_field :delivery_frequency,as: :select, collection: PaidInbox.delivery_frequencies.keys,
                                            include_blank: false, label: false, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <p class="lead">
                      How much would you like to charge to answer a 255 character email?
                    </p>
                    <div class="col-xs-4 col-xs-offset-4">
                      <div class="form-group">
                        <%= pif.input_field :price_option, as: :select, collection: PaidInbox.price_options.keys,
                                            include_blank: false, label: false, class: 'form-control' %>
                      </div>

                    </div>
                  </div>

              <% end %>

              <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>
            </div>
        <% end %>

  <% end %>
  </div>
</div>

<!--Paid Inbox Modal-->

<div class="modal fade" id="paidInboxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Paid Inbox</h4>
      </div>
      <div class="modal-body">
        Sales Reps will pay your company to reply to a qualifying question. Your answer can only be 255 characters long. <br>
        We aggregate all questions so you can batch answer them at the frequency you want.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');
  });
</script>