<div class="col-md-8 col-md-offset-2">
  <h1>Edit Information</h1>

  <%= simple_form_for @user, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                      wrapper_mappings: {radio_buttons: :horizontal_radio_and_checkboxes} do |f| %>

      <%= f.error_notification %>

      <ul class="nav nav-tabs">
        <% if @user.sp? %>
        <li role="presentation" class="active"><a data-toggle="tab" href="#dm_sp_info">Evaluation/Sales Info</a></li>
        <% end %>
        <li role="presentation" class="<%= @user.sp? ? '' : 'active' %>"><a data-toggle="tab" href="#general">General</a></li>
        <li role="presentation"><a data-toggle="tab" href="#ar_info">Accounts Receivable</a></li>
      </ul>


      <div class="tab-content">

      <%- if @user.role == 'sp' || @user.role == 'both' %>
          <div id="dm_sp_info" class="tab-pane fade in active">
            <div class="col-md-offset-2">
              <%= render partial: 'users/partials/sp_info_form', locals: {f: f}  %>
            </div>
            <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>
        </div>
      <% end %>

        <div id="general" class="tab-pane fade <%= !@user.sp? ? 'in active' : '' %>">
          <hr/>
          <%= render partial: 'users/partials/general_form', locals: {f: f} %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>

        <div id="ar_info" class="tab-pane fade">
          <hr/>
          <%= render partial: 'users/partials/ar_form', locals: {f: f} %>
          <%= f.submit 'Save Changes', class: 'btn btn-primary col-md-4 col-md-offset-4' %>

        </div>

  <% end %>
  </div>
</div>