<div class="container">

  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'video_placeholder.png', size: '500x400' %>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

        <div class="col-md-3 col-md-offset-1 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

        <div class="col-md-3 col-md-offset-1 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-1 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

        <div class="col-md-3 col-md-offset-1 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

        <div class="col-md-3 col-md-offset-1 well text-center">
          <%= image_tag 'profile_placeholder.jpg', size: '80x90' %>
          <h6>John Doe</h6>
          <h6>CEO</h6>
          <h6>Some Company LLC.</h6>
          <h6>$150</h6>
          <h6>Omaha, NE</h6>
        </div>

      </div>

    </div>


    <div class="col-md-12 text-center">
      <button class="btn btn-primary">Register Now!</button>
    </div>

  </div>




</div>