<% submit_button = false if local_assigns[:submit_button].nil? %>
<div class="panel panel-default setting-box">
  <div class="panel-heading">
    <h3 class="panel-title">
      Update General Availability.
      <span id="ga-info-popover" data-toggle="popover" data-trigger="hover" data-placement="bottom"
            data-content="<small>
            Companies will ask to buy 20, 40, or 60 minutes of your time within the blocks below.
             Once a meeting is purchased, we will send you a calendar invite. If the time doesn’t work,
              just give us a few that do and we’ll take care of the rest!
            </small>"
            class="glyphicon glyphicon-question-sign mag-icon small dashboard-popover">
      </span>
      <span class="pull-right"> <%= f.submit 'Save', class: 'btn btn-primary btn' if submit_button %></span>
    </h3>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">

    <div class="form-inline text-center">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
          <strong>Day</strong>
        </div>
        <div class="col-xs-3">
          <strong>Start</strong>
        </div>
        <div class="col-xs-3">
          <strong>End</strong>
        </div>
      </div>
      <%= f.association :general_availabilities do |ga| %>

          <div class="row" id="block-<%= ga.object.block %>">

            <div class="col-sm-3 col-sm-offset-1 col-xs-offset-0">
              <%= ga.input :day, as: :select, collection: [ ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3],
                                                            ['Thursday', 4], ['Friday', 5], ['Saturday', 6],
                                                            ['Sunday', 7] ], include_blank: false, label: false, class: 'margin-bottom' %>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <%= ga.input :start_time, as: :string, input_html: {class: 'form-control time-picker', value: ga.object.show_start_time},
                             label: false %>
              </div>
            </div>



            <div class="col-sm-3">
              <div class="form-group">
                <%= ga.input :end_time, as: :string, input_html: {class: 'form-control time-picker', value: ga.object.show_end_time},
                             label: false %>
              </div>
            </div>

          </div>
      <% end %>
    </div>

  </div>
</div>

<script>
  $('.time-picker').timepicker({
    'minTime': '5:00am',
    'maxTime': '9:00pm',
    forceRoundTime: true,
    timeFormat: 'h:i A'
  });
</script>
