<div class="panel panel-default" id="meeting-queue-panel">
  <div class="panel-heading">
    <h3 class="panel-title text-center x-large-text">
      <strong>Meeting Queue</strong>
      <a type="button" data-toggle="modal" data-target="#meetingQueueModal" class="pull-right btn-link btn-xs">
        More Info
      </a>
    </h3>
  </div>

  <div class="panel-body panel-small box">
    <%= simple_form_for Bid.find_or_initialize_by(user_id: user.id, meeting_queue_id: dm.meeting_queue.id), remote: true do |f| %>
        <%= f.hidden_field :meeting_queue_id, value: dm.meeting_queue.id %>
        <%= f.hidden_field :user_id, value: user.id %>

        <div class="row">

          <div class="col-xs-5">
            <div class="row">
              <div class="col-xs-6 large-text">
                <label for="meeting_length">Meeting Time:</label>
                <div>
                  <%= select_tag :meeting_length, options_for_select(['30 Minutes', '30 Minutes']),
                                 class: 'form-control', disabled: true %>
                </div>

              </div>

              <div class="col-xs-6">
                <label for="bid_price" class="large-text">Amount:</label>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">$</span>
                  <%- if f.object.cancelled? %>
                  <%= f.input :price, as: :integer, label: false, class: 'form-control',
                              required: true, disabled: true, input_html: {value: 0} %>
                  <%- elsif f.object.can_rebid || !f.object.persisted? %>
                      <%= f.input :price, as: :integer, label: false, class: 'form-control',
                                  required: true, input_html: {min: dm.meeting_queue.minimum_bid} %>
                  <%- else %>
                      <%= f.input :price, as: :integer, label: false, class: 'form-control',
                                  required: true, disabled: true %>
                  <% end %>
                </div>
              </div>
            </div>
            <!--row-->

            <div class="row">
              <div class="col-xs-6 col-xs-offset-6">
                Min: $<%= dm.meeting_queue.minimum_bid %>
              </div>
            </div>
            <!--row-->

            <div class="row">
              <div class="col-xs-12">
                <div id="submit-container-<%= dm.meeting_queue.id %>" class="text-center submit-container">
                  <%- if f.object.cancelled? %>
                      <%= f.submit 'Bid Cancelled', class: 'btn btn-warning btn-lg', disabled: true %>
                  <%- elsif  f.object.persisted? && f.object.can_rebid  %>
                      <%= f.submit 'Update Bid', class: 'btn btn-success btn-lg' %>
                      <%= link_to 'Cancel Bid', bid_path(f.object.id), class: 'btn-link btn-xs', remote: true,
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%- elsif f.object.persisted? && !f.object.can_rebid %>
                      <%= f.submit 'In Queue', class: 'btn btn-success btn-lg margin-top', disabled: true %>
                      <%= link_to 'Cancel Bid', bid_path(f.object.id), class: 'btn-link btn-xs', remote: true,
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%- else %>
                      <%= f.submit 'Join Queue', class: 'btn btn-success btn-lg' %>
                  <% end %>
                </div>
              </div>
            </div>
            <!--row-->
          </div>
          <!--col-xs-4 left-->

          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                                <span class="evaluation-popover" data-toggle="popover" data-trigger="hover" data-placement="top"
                                      data-content="Whomever has the highest bid(s) at this time gets the available meeting(s) with <%= dm.full_name %>">
                                  <strong>Meeting Selection Time</strong> <span class="glyphicon glyphicon-question-sign mag-icon"></span>:
                                </span>
                    <br>
                    <%= dm.meeting_queue.show_block_close_date %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                                <span class="evaluation-popover" data-toggle="popover" data-trigger="hover" data-placement="top"
                                      data-content="<%= dm.full_name %> will allow MeetingSlice to put meetings
                                       on his calendar <%= dm.meeting_queue.meeting_frequency %>.">
                                  <strong>Time Available</strong> <span class="glyphicon glyphicon-question-sign mag-icon"></span>:
                                </span>
                    <br>
                    <%= dm.meeting_queue.meeting_frequency %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--col-xs-4 center-->

          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <strong>Place in Line:</strong> <br>
                    <%= f.object.place_in_line %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <strong>Estimated Wait:</strong> <br>
                    1 week
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--col-xs-4 right-->

        </div>
        <!--row-->

    <% end %>
  </div>
  <!--panel-body-->
</div>