<table class="table" style="border-collapse:collapse;">

  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= sort_link(@query, :company_name, 'Company', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :title, {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :full_name, 'Name', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :city, 'City', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :state, 'State', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :zip_code, 'Zip Code', {}, {remote: true, method: :get} ) %></th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>

  <%- @decision_makers.each do |dm| %>

  <tr data-toggle="collapse" data-target="#dm<%= dm.id %>" class="accordion-toggle" role="button">
    <td><i class="glyphicon glyphicon-chevron-right"></i></td>
    <td><%= dm.company_name %></td>
    <td><%= dm.title %></td>
    <td><%= dm.full_name %></td>
    <td><%= dm.city %></td>
    <td><%= dm.state%></td>
    <td><%= dm.zip_code%></td>
    <td>
      <%- if Meeting.active.where(dm_id: dm.id, sp_id: @user.id).exists? %>
          Meeting Scheduled/Requested
      <%- elsif Bid.active.where(meeting_queue_id: dm.meeting_queue.id, user_id: @user.id).exists? %>
          In Queue
      <%- else %>
          N/A
      <% end %>
    </td>
    <td><%= button_tag 'Buy 30 Minutes', class: 'btn btn-success' %></td>
  </tr>

  <tr>
    <td colspan="12" class="hiddenRow">
      <div class="accordian-body collapse" id="dm<%= dm.id %>">

        <div class="row match-my-cols">
          <div class="col-xs-4">

            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title x-large-text">
                  <strong>Meet Now</strong>
                  <a type="button" data-toggle="modal" data-target="#meetNowModal" class="pull-right btn-link btn-xs">
                    More Info
                  </a>
                </h3>
              </div>
              <div class="panel-body box">
                <div class="margin-top-lg">
                  <span class="large-text"> 30 Minutes</span> <br/>
                  <%= link_to "$#{dm.price}", new_meeting_path(dm.id), class: 'btn btn-success' %>
                </div>
              </div>
            </div>

          </div>

          <div class="col-xs-8" id="meeting-queue-container-<%= dm.meeting_queue.id %>">
            <%= render 'users/partials/meeting_queue', dm: dm, user: @user %>
          </div>
        </div>

        <div class="row well">
          <div class="col-md-4">
            <h4>
              <span class="evaluation-popover" data-toggle="popover" data-trigger="hover" data-placement="top"
                    data-content="It's okay if your product or service doesn’t match what the decision maker is currently evaluating.">

                Evaluating <span class="glyphicon glyphicon-question-sign mag-icon"></span>:
              </span>
            </h4>
            <p>
              <%= dm.dm_evaluating || "#{dm.full_name} hasn't said what he's looking for in a meeting yet." %>
            </p>
          </div>
        </div>

        <div id="quick-pitch-<%= dm.id %>">
          <%= link_to 'Buy Now', new_meeting_path(dm.id, meeting_type: 'quick_pitch') %>
        </div>
      </div>
    </td>
  </tr>

  <% end %>

  </tbody>
</table>

<!-- Meeting Queue Modal -->
<div class="modal fade" id="meetingQueueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Meeting Queue</h4>
      </div>
      <div class="modal-body">
        <p>Business Decision Makers block out time to hear pitches for innovative products.</p>

       <p> Sales Reps get in the Meeting Queue for the Decision Maker’s time by bidding. Sales Reps with the highest probability
        of closing, are willing to pay the most for the decision makers immediate attention.</p>

        <p>Here are the rules:</p>

        <p>1.    The higher your bid, the further up in the Queue you move.<br>
        2.    You can only bid once per block of time available. No changes.<br>
        3.    If you don’t get selected, your bid rolls over to the next available block of time.<br>
        4.    You can change your bid once after each Meeting Selection Time.<br>
        5.    After you bid, you will see your rank and an estimate of when you will get a meeting.</p>

        <p>If you have already qualified this decision maker and have an innovative product, you should be willing to bid
        more for time that someone that is using a ‘spray and pray’ approach.</p>

        <p>Why bid high for meetings?<br>
        Rather than call the Decision Maker fourteen times and hope you get 2 minutes to pitch your idea, do everything
        you can to improve your probability of closing the account then decide how much the meeting is worth.
        The Decision Maker is willing to give certainty that you will get a 30-minute meeting, if you will do the work
        upfront to qualify him and come totally prepared to solve his business problems.
        By putting more skin in the game, you signal to the Decision Maker you have done your homework.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Meet Now Modal -->
<div class="modal fade" id="meetNowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Meet Now</h4>
      </div>
      <div class="modal-body">
        <p>Some products are such a good fit for the Decision Maker, Sales Organizations or Sales Reps want to skip to the
        front of the line. They know they have a very high probability of closing and want to signal this to the Decision Maker with money.</p>

        <p>We asked the Decision Maker at what price is the signal of “money for your time” so loud that you would always take a meeting.</p>

        <p>If you do not want to get in line with Meeting Queue, use MeetNow.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $('#attention-score-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });
  $('.evaluation-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });

//  $('.simple_form').submit(function(event){
//    $(this).find('#bid_price').prop('disabled', true)
//  });
</script>