<table class="table" style="border-collapse:collapse;">

  <thead>
  <tr><th>&nbsp;</th>
    <th><%= sort_link(@query, :company_name, 'Company', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :title, {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :full_name, 'Name', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :city, 'City', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :state, 'State', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :zip_code, 'Zip Code', {}, {remote: true, method: :get} ) %></th>

  </tr>
  </thead>

  <tbody>

  <%- @decision_makers.each do |dm| %>

  <tr data-toggle="collapse" data-target="#dm<%= dm.id %>" class="accordion-toggle" role="button">
    <td><i class="glyphicon glyphicon-chevron-right"></i></td>
    <td><%= dm.company_name %></td>
    <td><%= dm.title %></td>
    <td><%= dm.full_name %></td>
    <td><%= dm.city %></td>
    <td><%= dm.state%></td>
    <td><%= dm.zip_code%></td>
  </tr>

  <tr>
    <td colspan="12" class="hiddenRow">
      <div class="accordian-body collapse" id="dm<%= dm.id %>">
        <div class="row well">
          <div class="col-md-4">
            <h4>
              <span class="evaluation-popover" data-toggle="popover" data-trigger="hover" data-placement="top"
                    data-content="It's okay if your product or service doesn’t match what the decision maker is currently evaluating.">

                Evaluating <span class="glyphicon glyphicon-question-sign mag-icon"></span>:
              </span>
            </h4>
            <p>
              <%= dm.dm_evaluating || "#{dm.full_name} hasn't said what he's looking for in a meeting yet." %>
            </p>
          </div>
        </div>

        <div class="row match-my-cols">
          <div class="col-xs-4">

            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title x-large-text">
                  <strong>Meet Now</strong>
                  <a type="button" data-toggle="modal" data-target="#meetNowModal" class="pull-right btn-link btn-xs">
                    More Info
                  </a>
                </h3>
              </div>
              <div class="panel-body box">
                <div class="margin-top-lg">
                  <span class="large-text"> 30 Minutes</span> <br/>
                  <%= link_to "$#{dm.price}", new_meeting_path(dm.id), class: 'btn btn-success' %>
                </div>
              </div>
            </div>

          </div>

          <div class="col-xs-8" id="meeting-queue-container-<%= dm.meeting_queue.id %>">
            <%= render 'users/partials/meeting_queue', dm: dm, user: @user %>
          </div>
        </div>
      </div>
    </td>
  </tr>

  <% end %>

  </tbody>
</table>

<!-- Meeting Queue Modal -->
<div class="modal fade" id="meetingQueueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Meeting Queue</h4>
      </div>
      <div class="modal-body">
        <p>Business Decision Makers have a limited amount of time allocated to hearing about innovative products and services.</p>

        <p>(Name) will allow MeetingSlice to put meetings on his calendar (hours per week).</p>

          <p>Here are the rules:<br/>
          1.    The higher your bid, the further up in the Queue you move.<br/>
          2.    You can only bid once every (weeks). No changes.<br/>
          3.    If you don’t get selected, your bid rolls over to the next available meeting block.<br/>
          4.    You can change your bid once every (weeks).<br/>
          5.    After you bid, we will tell you where your rank and when you can expect to get a meeting.</p>

          <p>If you have already qualified this decision maker and have an innovative product, you should be willing to bid
          more for (name) time that someone that is using a ‘spray and pray’ approach.</p>

          <p>Why bid high for meetings?<br/>
          Rather than call (name) fourteen times and hope you get 2 minutes to pitch your idea, do everything you can
          to improve your probability of closing the account then decide how much the meeting is worth.  (Name) is
          willing to trade certainty that you will get a meeting with (him) for 30 minutes, if you will do the work upfront
          to qualify him and come totally prepared to solve his unique problem. The money is a signal!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Meet Now Modal -->
<div class="modal fade" id="meetNowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Meet Now</h4>
      </div>
      <div class="modal-body">
        <p>Business Decision Makers have a limited amount of time allocated to hearing about innovative products and services.</p>

        <p>(Name) will allow MeetingSlice to put meetings on his calendar (hours per week).</p>

        <p>Here are the rules:<br/>
          1.    The higher your bid, the further up in the Queue you move.<br/>
          2.    You can only bid once every (weeks). No changes.<br/>
          3.    If you don’t get selected, your bid rolls over to the next available meeting block.<br/>
          4.    You can change your bid once every (weeks).<br/>
          5.    After you bid, we will tell you where your rank and when you can expect to get a meeting.</p>

        <p>If you have already qualified this decision maker and have an innovative product, you should be willing to bid
          more for (name) time that someone that is using a ‘spray and pray’ approach.</p>

        <p>Why bid high for meetings?<br/>
          Rather than call (name) fourteen times and hope you get 2 minutes to pitch your idea, do everything you can
          to improve your probability of closing the account then decide how much the meeting is worth.  (Name) is
          willing to trade certainty that you will get a meeting with (him) for 30 minutes, if you will do the work upfront
          to qualify him and come totally prepared to solve his unique problem. The money is a signal!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $('#attention-score-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });
  $('.evaluation-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });

//  $('.simple_form').submit(function(event){
//    $(this).find('#bid_price').prop('disabled', true)
//  });
</script>