<table class="table" style="border-collapse:collapse;">

  <thead>
  <tr><th>&nbsp;</th>
    <th><%= sort_link(@query, :company_name, 'Company', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :title, {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :full_name, 'Name', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :city, 'City', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :state, 'State', {}, {remote: true, method: :get} ) %></th>
    <th><%= sort_link(@query, :zip_code, 'Zip Code', {}, {remote: true, method: :get} ) %></th>

  </tr>
  </thead>

  <tbody>

  <%- @decision_makers.each do |dm| %>

  <tr data-toggle="collapse" data-target="#dm<%= dm.id %>" class="accordion-toggle" role="button">
    <td><i class="glyphicon glyphicon-chevron-right"></i></td>
    <td><%= dm.company_name %></td>
    <td><%= dm.title %></td>
    <td><%= dm.full_name %></td>
    <td><%= dm.city %></td>
    <td><%= dm.state%></td>
    <td><%= dm.zip_code%></td>
  </tr>

  <tr>
    <td colspan="12" class="hiddenRow">
      <div class="accordian-body collapse" id="dm<%= dm.id %>">
        <div class="row well match-my-cols">
          <div class="col-md-4">
            <h4>
              <span class="evaluation-popover" data-toggle="popover" data-trigger="hover" data-placement="top"
                    data-content="It's okay if your product or service doesn’t match what the decision maker is currently evaluating.">

                Evaluating <span class="glyphicon glyphicon-question-sign mag-icon"></span>:
              </span>
            </h4>
            <p>
              <%= dm.dm_evaluating || "#{dm.full_name} hasn't said what he's looking for in a meeting yet." %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">

            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title">Meet Now</h3>
              </div>
              <div class="panel-body">
                <%= link_to 'Buy Now', new_meeting_path(dm.id), class: 'btn btn-success' %>
              </div>
            </div>

          </div>

          <div class="col-xs-8">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title text-center">Get in Line</h3>
              </div>
              <div class="panel-body">
                <%= simple_form_for Bid.find_or_initialize_by(user_id: @user.id, meeting_queue_id: dm.meeting_queue.id), remote: true do |f| %>
                    <%= f.hidden_field :meeting_queue_id, value: dm.meeting_queue.id %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <div class="row">
                      <div class="col-xs-4">
                        <label for="bid_price">Amount:</label>
                        <div class="input-group input-group-sm">
                          <span class="input-group-addon">$</span>
                          <%= f.input :price, as: :float, label: false, class: 'form-control',
                                      required: true, input_html: {min: dm.meeting_queue.minimum_bid} %>
                        </div>

                      </div>
                      <div class="col-xs-3">
                        Min: $<%= dm.meeting_queue.minimum_bid %>
                      </div>

                      <div class="col-xs-3 col-xs-offset-1">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <strong>Block Close:</strong> <br>
                            11/21/1991
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-5">
                        <div id="submit-container-<%= dm.meeting_queue.id %>">
                          <%- if f.object.persisted? && f.object.can_rebid %>
                              <%= f.submit 'Update Bid', class: 'btn btn-success' %>
                          <%- elsif f.object.persisted? && !f.object.can_rebid %>
                              <%= f.submit 'Already Bid', class: 'btn btn-success', disabled: true %>
                          <%- else %>
                              <%= f.submit 'Request Place Holder', class: 'btn btn-success' %>
                          <% end %>
                        </div>

                      </div>

                      <div class="col-xs-3 col-xs-offset-3">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <strong>Time Allocated:</strong> <br>
                            <%= dm.meeting_queue.meeting_frequency %>
                          </div>
                        </div>
                      </div>

                    </div>

                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </td>
  </tr>

  <% end %>

  </tbody>
</table>

<script>
  $('#attention-score-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });
  $('.evaluation-popover').popover({delay: { "show": 300, "hide": 100 }, container: 'body', html: true });
</script>