<div class="form-group col-md-offset-2">
  <h3>Tell us about what you are selling.</h3>
  <%= f.input :sp_product_service, placeholder: 'Tell us a bit about what you are selling.', label: false %>
</div>

<h3>
  In your world, how would you define the following customer types in terms of Annual Sales?
</h3>
<hr>

<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <h3>Annual Sales</h3>
  </div>

  <div class="col-md-3">
    <h3>Example Companies</h3>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2">

    <div class="col-sm-2">
      <h3 class="revenue-label">Small</h3>
    </div>

    <div class="col-sm-3">
      <%= f.input :sp_small_revenue, label: false,
                  collection: User.sp_small_revenues.keys, include_blank: false %>
    </div>

    <div class="col-sm-6">
      <%= f.input :sp_small_revenue_examples, placeholder: 'Examples..', label: false %>
    </div>


  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2">

    <div class="col-sm-2">
      <h3 class="revenue-label">Medium</h3>
    </div>

    <div class="col-sm-3">
      <%= f.input :sp_medium_revenue, label: false,
                  collection: User.sp_medium_revenues.keys, include_blank: false %>
    </div>

    <div class="col-sm-6">
      <%= f.input :sp_medium_revenue_examples, placeholder: 'Examples..', label: false %>
    </div>


  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2">

    <div class="col-sm-2">
      <h3 class="revenue-label">Large</h3>
    </div>

    <div class="col-sm-3">
      <%= f.input :sp_large_revenue, label: false,
                  collection: User.sp_large_revenues.keys, include_blank: false %>
    </div>

    <div class="col-sm-6">
      <%= f.input :sp_large_revenue_examples, placeholder: 'Examples..', label: false %>
    </div>


  </div>
</div>




<div class="form-group col-md-offset-2">
  <h3>How long is your Sales Cycle?</h3>
  <%= f.input :sp_sales_cycle, label: false,
              collection: User.sp_sales_cycles.keys, include_blank: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Once you get a meeting with a qualified Decision Maker, what is your closing percentage for your current sales role?</h3>
  <%= f.input :sp_close_percentage, label: false,
              collection: User.sp_close_percentages.keys, include_blank: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Do other salespeople in your company have similar closing percentages?</h3>
  <%= f.input :sp_organization_close_percentage, label: false,
              collection: User.sp_organization_close_percentages.keys, include_blank: false %>
</div>


