<div class="form-group col-md-offset-2">
  <h3>Tell us about what you are selling.</h3>
  <%= f.input :sp_product_service, placeholder: 'Tell us a bit about what you are selling.', label: false %>
</div>

<h3>
  Every product or service you are selling has an expected lifetime impact to a decision makers bottom line.
  However you define a small medium and large customer in your world and what type of bottom line impact should
  a decision maker expect from your product or service?
</h3>
<div class="form-group col-md-offset-2">
  <h3>Small</h3>
  <%= f.input :sp_small_bottom_line_impact, label: false,
              collection: User.sp_small_bottom_line_impacts.keys, include_blank: false %>
  <%= f.input :sp_small_impact_examples, placeholder: 'Examples..', label: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Medium</h3>
  <%= f.input :sp_medium_bottom_line_impact, label: false,
              collection: User.sp_medium_bottom_line_impacts.keys, include_blank: false %>
  <%= f.input :sp_medium_impact_examples, placeholder: 'Examples..', label: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Large</h3>
  <%= f.input :sp_large_bottom_line_impact, label: false,
              collection: User.sp_large_bottom_line_impacts.keys, include_blank: false %>
  <%= f.input :sp_large_impact_examples, placeholder: 'Examples..', label: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>How long is your Sales Cycle?</h3>
  <%= f.input :sp_sales_cycle, label: false,
              collection: User.sp_sales_cycles.keys, include_blank: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Once you get a meeting with a decision maker, what is your close percentage for your current sales role?</h3>
  <%= f.input :sp_close_percentage, label: false,
              collection: User.sp_close_percentages.keys, include_blank: false %>
</div>

<div class="form-group col-md-offset-2">
  <h3>Do other salespeople in your company have similar closing percentages?</h3>
  <%= f.input :sp_organization_close_percentage, label: false,
              collection: User.sp_organization_close_percentages.keys, include_blank: false %>
</div>


